body {
  margin: 0px;
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans'
}

main {
  height: 45vh;
  background-color: #455A64;
  text-align: center;
}

header {
  /*padding: 3vh;*/
  color: #FFFFFF;
  font-weight: 700;
  font-size: 150%;
  letter-spacing: 1.15px;
  height: 5vh;
  width: 100vw;
  padding-top: 3vh;
}

img {
  width: 40px;
}

button {
  border: none;
  border-bottom: 2px solid #F2F4F4;
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 90%;
  color: #455A64;
  outline: none;
}
h3 {
  margin-bottom: 0;
  margin-top: 3%;
  padding-bottom: 3%;
}

button:hover {
  border: none;
  border-bottom: 2px solid #FFC107;
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 700;
}

.input {
  width: 90vw;
  height: 7vh;
  margin: 2vh;
  /*border-color: #CFD8DC;*/
  border: 2px solid #CFD8DC;
  font-family: 'Open Sans';
  font-size: 130%;
  margin-top: 2vh;
}

.submit {
  height: 6vh;
  width: 91vw;
  margin: 0 2vh;
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 90%;
  font-weight: 700;
  margin-top: 2vh;
}

.submit:hover {
  background-color:#FFD773;
}
.submit:disabled {
  background-color:#FFD773;
}

.bookmarks {
  height: 55vh;
  width: 100vw;
  background-color: #CFD8DC;
  padding-top: 5%;
  overflow: scroll;
}

.entry {
  left: 5vw;
  width: 88vw;
  border: 2px solid #607D8B;
  background-color: #ffffff;
  margin: 0 auto 4% auto;
  padding: 0% 2% 2% 2%;
}

.title {
  font-family: 'Open Sans';
  font-weight: 700;
  color:#455A64;
  border-bottom: 2px solid #CFD8D6;
  font-size: 130%
}

.url {
  display:block;
  border-bottom: 2px solid #CFD8D6;
  margin-top: 0%;
  margin-bottom: 3.5%;
  text-decoration: none;
  color: #607D8B;
  line-height: 3.5;
}

.url:hover {
  font-weight: 700;
  color: #455A64;
  text-decoration: underline #FFC107;
  padding-bottom: 0;
}

/*.underline {
  text-decoration: underline;
  color: #F2F4F4;*/
}
.read {
  height: 26px
  padding: 0;
  background-color: #0000;
}

.delete {
  height: 26px;
  padding: 0;
  background:  transparent;
  float:right;
}

button.active {
  background-color: #F2F4F4;
  outline: none;
}

.active {
  color: #F05A28;
}
.activebackground {
  background-color:#F2F4F4;
}

@media screen and (min-width: 700px) {
  header {
    padding-top:25vh;
    width: 50vw;
    font-size:6.4vw;
    letter-spacing: 0px;
    font-weight: 800;
    margin-bottom: 15%;
  }
  .input {
    height:5vh;
    width:45vw;
    margin-bottom: 7%;
  }
  .submit {
    height: 5vh;
    width:45.5vw;
  }
  .entry {
    width: 43vw;
    margin-top: 5%;
  }
  .main {
    display: inline-block;
    width:50%;
    height:100%;
  }
  .bookmarks {
    float:right;
    height: 100%;
    padding-top: 0%;
  }

  .input, .submit {

  }

  img {
    width: 8.5vw;
    max-width: 12vw;
  }

}
